.flag{
    width: 600px;
    height:300px;
    background: rgb(0,106,78);
    text-align: center;
    padding: 55px;
    margin-bottom: 40px;
    margin-left:20px;
    
}
.radious{
    background-color: rgb(244,42,65);
    height: 300px;
    width:300px;
    border-radius: 50%;
    display: inline-block;
    
}

.egg{
    height: 350px;
    width: 500px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(192, 120, 12);
    border-radius:50%;
    margin-left:40px ;
    text-align:center;
    padding-top: 20px;
    padding-left:20px;
    padding-right: 15px;
}

.wh_point{
    height: 320px;
    width: 350px;
    background: rgb(196, 199, 5);
    border-radius: 50%;
    display: inline-block;
}